:root {
    --main-color: #8B3F45;
    --alt-color: #6D262D;
    --alt2-color: #A55E64;
    --alt3-color: #C18A8F;
    --main-font: black;
    --alt-font: #8A7A7A;
    --back-ground: #F8F3F2;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    font-family: sans-serif;
}

/* الحاوية الكبيرة بتشيل الصفحتين */
.slider-wrapper {
    display: flex;
    width: 200vw;
    height: 100vh;
    transform: translateX(-100vw); /* بتبدأ من صفحة الـ Landing */
    transition: transform 1s ease-in;
}

/* صفحة الـ Landing */
.landing-page {
    width: 100vw;
    min-height: 100vh;
    background-image: url("imeges/intro.png");
    background-size: cover;
    background-position: center;
    position: relative;
    flex-shrink: 0;
    will-change: transform; 
}

.landing-page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 45%;
    height: 100%;
    background-color: rgba(211, 108, 117, 0.48);
}

.logo, .tagline {
    color: var(--back-ground);
    position: absolute;
    z-index: 2;
}

.logo {
    left: 30px;
    top: 25px;
    font-size: 28px;
    font-family: "Kaushan Script", cursive;
}

.tagline {
    width: 400px;
    left: 15%;
    top: calc((100% - 400px) / 2);
    font-size: 38px;
}

.tagline span {
    color: var(--alt-color);
    text-decoration: underline;
}

.btn-container {
    margin-top: 20px;
    width: fit-content;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btn-container:hover {
    transform: translateX(10px);
}

.button {
    width: 50px;
    height: 50px;
    background-color: var(--back-ground);
    border-radius: 8px;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.button i {
    transform: rotate(-45deg);
    color: var(--alt-color);
    font-size: 20px;
}

/* صفحة الـ Store */
.store-page {
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
}

.store-page iframe {
    width: 100%;
    height: 100%;
    border: none;
}
.landing-page {
    width: 100vw;
    height: 100vh;
    /* هنا حطّي التنسيق والألوان والخلفية الخاصة بصفحة البداية بتاعتك */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* الحركة المعاكسة: بتسحب الـ Landing جهة اليمين وتظهر الـ Store */
body.slide-active .slider-wrapper {
    transform: translateX(0);
}